<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <title>Dames of Code</title>
</head>
<body>
    <div id="header">
        <h1>Dames of <span class="code-pop">{Code}</span></h1>
        <h3>Recognising significant (and often forgotten) women in technology</h3>
    </div>
    <div id="button-strip">
        <button id="reload" onclick="javascript:window.location.reload();">Generate Another</button>
    </div>
    <div id="scraped-content">
        {% block content %}{{content | safe}}{% endblock %}
    </div>
    <div id="footer">
        <p>Dames of Code is created and maintained by <span id="name-pop">{Cleo Kent}</span></p>
    </div>
</body>
</html>